[2022-02-18 17:09] dnburgess opened #1 "Unable to fread the specified log file '/opt/log/proxy-host-*_access.log'"
Spun this up this morning with no success.

My Nginx Proxy Manager logs are located at /home/data/logs

My docker-compose looks like this: https://pastebin.com/t6x0fjZE

After a few minutes, my logs look like this: https://pastebin.com/L51NAbdb

After a few more minutes, I see just more of the same.

I should mention that my logs go as high as 'proxy-host-38_error.log'

The container will not star

[2022-02-20 19:19] xavier-hernandez opened #2 "Add docker option to skip loading archived logs"

[2022-02-20 19:19] xavier-hernandez opened #3 "GeoIP database needs to be loaded"
MaxMind database needs to be loaded to retrieve geo location.

[2022-02-20 19:20] xavier-hernandez opened #4 "dynamic loading of new proxies"
Without restarting the docker container it should read newly created proxy hosts.

[2022-02-20 19:22] xavier-hernandez opened #5 "allow mounting of goaccess.conf"
The current code does not allow the user to update the goaccess.conf. It would be nice to give the user a choice to load their own for customizations such as panels, static files, etc.

[2022-02-20 19:24] xavier-hernandez opened #6 "Healthcheck or loading information"
While loading data it sometimes takes a while for the report to display. It would be nice to know the process of the parsing.

[2022-02-20 19:39] xavier-hernandez commented on #3
Fixed in the develop branch.

https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/commit/651b180cba038799a2d64b59b3c00fdba2b6f170

[2022-02-20 19:39] #3 closed

[2022-02-23 21:30] dnburgess commented on #1
Apologies for the delyed response. I didn't get a notification for some reason.

After pulling the newest image and redeploying, things seem to be working well. I've got another question, but, well, it's another question, so I'll close this issue and start a new one.

[2022-02-23 21:30] #1 closed

[2022-02-23 21:35] dnburgess opened #7 "CloudFlare mod_remoteip"
When looking throug my logs, I see that all the IPs shown are from CloudFlare, which makes sense as I am using CloudFlare for DNS and security.

Do you have any plans to allow for mod_remoteip so that we can see the real IP addresses of the people accessing our containers rather than the CloudFlare IP addresses?

[2022-02-23 22:23] xavier-hernandez commented on #7
I'm not familiar with that implementation. I'll set up a test environment on my end and review it. Do you know if the client IP is in the logs?

[2022-02-24 16:04] dnburgess commented on #7
The client IP is not in the logs as the IPs are proxied from CloudFlare unless you use mod_remoteip

[2022-02-24 20:34] xavier-hernandez commented on #7
If you use mod_remoteip are the log files created differently. If so, can you send me a sample log.

I was reviewing documentation for NginxProxyManager and it seems that the real IP is loaded into the logs rather than the Cloudflare so it should work out of the box. https://github.com/NginxProxyManager/nginx-proxy-manager/issues/919#issuecomment-1025171063

[2022-02-25 22:09] dnburgess commented on #7
I'm honestly not sure, but in order to get Fail2Ban to work with Nginx Proxy Manager (NPM), I had to go through a bit of setup. You can see the process I went through in this video: https://www.youtube.com/watch?v=Ha8NIAOsNvo

Or you can see the write-up I did for that video in order to get NPM/Fail2Ban to work with CloudFlare to get the real IPs: https://dbt3ch.com/books/fail2ban/page/how-to-inst

[2022-03-01 16:10] dnburgess opened #8 "Tutorial Video"
Since I'm not sure how else to contact you, I wanted to let you know that I released a video this morning to share your GoAccess for Nginx Proxy Manager container with my YouTube audience: https://youtu.be/-CQcEWVBjQU

[2022-03-01 22:28] danmed opened #9 "Unable to open goaccess/access.log"
I've set this up using the docker-compose from docker hub and pointed it to my NPM logs folder but i'm getting errors :

`
gzip: /opt/log/proxy-host-*_access.log*.gz: No such file or directory

Checking active logs...

GoAccess - version 1.5.5 - Feb 18 2022 04:55:07

Config file: /goaccess-config/goaccess.conf

Fatal error has occurred

Error occurred at: src/parser.c - read_log - 2015

Unable to

[2022-03-02 02:20] preethaml7 opened #10 "Add authentication"
Basic username and password authentication

[2022-03-02 02:39] xavier-hernandez opened #11 "Move to Alpine Image"
Move to alpine image to lower the image size of the docker image/container.

[2022-03-02 03:13] Just5KY opened #12 "Parse error [arm64]"
Built an image for arm64
docker build -t justsky/goaccess-for-nginxproxymanager .

Using this compose
[code]

seeing the following parse error in logs
[goaccess-2022-03-02T03-03-34.log](https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/files/8166313/goaccess-2022-03-02T03-03-34.log)

[2022-03-02 04:06] Just5KY commented on #12
I deleted `proxy-host-49_access.log` and now it works.
Closing the issue

[2022-03-02 06:03] HerrFrutti opened #13 "arm image"
add arm support.
User on reddit already build one:
[https://hub.docker.com/repository/docker/justsky/goaccess-for-nginxproxymanager](https://hub.docker.com/repository/docker/justsky/goaccess-for-nginxproxymanager)

[2022-03-02 09:59] #9 closed

[2022-03-02 11:05] Just5KY commented on #13
and it works as expected.

[2022-03-02 15:23] parsoli commented on #2
+1 for value / ability to narrow date range as well...

[2022-03-02 15:31] HaveSomeBugs opened #14 "Custom Date Range"
Is there any way to allow for custom date ranges? Sometimes I only want to see the data for the last week/month/quarter/year etc.

[2022-03-02 17:18] xavier-hernandez commented on #14
This is an issue with GoAcccess but it seems like they are working on it. I do have an issue open on this project to provide an option to not load the archived logs but I'm guessing your looking at this via a GUI perspective. Filtering your date ranges.

Please close this if that answers your question. Thanks!

https://github.com/allinurl/goaccess/issues/478
https://github.com/allinurl/goaccess/is

[2022-03-02 17:24] xavier-hernandez commented on #13
@Just5KY since everything seems to be working as-is. I'm leaning towards finally moving this to the main branch in the next few days would this cause you any problems.

[2022-03-02 17:50] Just5KY commented on #13
No issues @xavier-hernandez
I can just build a newer image using the main branch in the future and tag that as `latest`

But yes, the issue  #7  that DBTech mentioned does exist. I am also seeing Cloudflare IPs in the list.

I also have a couple of feature requests, but I will create another issue for those.
Thank-you for creating this tool, I love it.

![BabyGrootDancingGIF](https://user-images.g

[2022-03-02 21:30] #14 closed

[2022-03-03 04:49] xavier-hernandez commented on #13
@Just5KY added a link to your arm version in the readme file

[2022-03-03 05:35] xavier-hernandez commented on #13
@Just5KY merged everything into the main branch, updated readme

There will be 2 versions, latest (main branch) and develop (develop branch)

https://hub.docker.com/r/xavierh/goaccess-for-nginxproxymanager/tags

[2022-03-03 05:37] Just5KY commented on #13
Nice
I will push the arm image based on this tags

[2022-03-03 05:56] Just5KY commented on #13
I am adding armv7 support too.
Using Docker buildx we can create multi-arch images.

`docker buildx build --platform linux/arm/v7,linux/arm64/v8 --push -t justsky/goaccess-for-nginxproxymanager:develop .`

[2022-03-03 06:17] Just5KY commented on #13
![image](https://user-images.githubusercontent.com/71321862/156507560-0a06a121-1cba-45df-82ee-f3d858957f30.png)

[2022-03-03 06:23] xavier-hernandez commented on #13
Yeah, I was going to set that up but since you got around to it I'll let you have it :) I also don't have any arm devices to test with other than an old raspberry pi.

[2022-03-03 06:25] Just5KY commented on #13
Lol
I am building all the images on my Pi4

[2022-03-03 07:28] HerrFrutti commented on #13
Yeah I've run your (@Just5KY ) image since yesterday on my pi4 and it's working.

[2022-03-03 15:36] xavier-hernandez opened #18 "check for LOG4SHELL security vulnerability"

[2022-03-03 16:56] #18 closed

[2022-03-04 05:23] xavier-hernandez commented on #2
Added flag to skip archived logs. Available in the development branch.

https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/commit/fee6df1fb822b64d8ab78e3e32c9a565afd4a10f

[2022-03-04 15:00] SAOPP opened #19 "Traefik format logs"
Hi!

Thanks, dope tool! One question, just interesting, is it possible to implement support for the log format of Traefik?

Thanks in advance!

[2022-03-04 21:53] rtorchia opened #20 "Goaccess log errors"
Getting multiple errors from goaccess reading log files. Docker container then stops.

**FILE: /goaccess/access_archive.log**

- Token '009' doesn't match specifier '%s'
- Token 'SEARCH' doesn't match specifier '%m'
- Format Errors - Verify your log/date/time format

Running Nginx Proxy Manager v2.9.16 in docker container, on Ubuntu server 20.04

[2022-03-05 00:39] rtorchia commented on #20
I deleted all my Nginx proxy manager logs and restarted the goaccess container, and now it is working.
Not the best fix, but it worked. There still may be something wrong with the log format for goaccess though

[2022-03-05 04:01] SavageAUS opened #21 "Unraid template"
Not an issue more of a request for a unraid template on the App Store.

[2022-03-05 05:13] xavier-hernandez commented on #20
Would you have a copy of the old logs, so that I can review?

[2022-03-05 13:14] rtorchia commented on #20
Only after I deleted the backup copy of my log files did I realize that I probably should have kept them! 🤦
If the problem resurfaces I'll send you my log files to review.

[2022-03-05 17:17] xavier-hernandez commented on #20
No problem. I'm wondering if there was some change in the NPM log format at some point in time. Another user had the same issue but it was only with one file once they deleted that one file it worked fine.

[2022-03-06 12:41] rtorchia commented on #20
When I was getting the error, I had about 26 log files for each *_error..log and *_access.log. The errors were with multiple files, and the older log files it seemed were causing the issues. I'll keep an eye on it and report if it occurs again.

[2022-03-06 21:46] xavier-hernandez commented on #11
I've switched the image in development branch from ubuntu:20.04 to alpine:3.15. The image size went from ~180MB to ~42MB. Shout out to @martadinata666 for the help as well.

[2022-03-06 21:47] #11 closed

[2022-03-06 23:26] xavier-hernandez commented on #10
Authentication has been added and included in main and develop branch. Please check out the README file.
 9cc805b8de8e74b86dd1c41530e9afdda9c598fb

[2022-03-06 23:26] #10 closed

[2022-03-06 23:29] xavier-hernandez commented on #2
@parsoli narrowing date range is something that goaccess is currently working on for their UI and won't really be part of this docker image.

[2022-03-06 23:29] xavier-hernandez commented on #2
Merged into main branch.

9cc805b8de8e74b86dd1c41530e9afdda9c598fb

[2022-03-06 23:29] #2 closed

[2022-03-09 14:34] NIghtHawkATL opened #23 "arm64 image version"
I enjoyed using your panel when I was using npm on a proxmox vm but decided to move it to a dedicated Pi and would like to continue to use goaccess on the Pi. Can you make an arm64 version?

[2022-03-09 18:57] xavier-hernandez commented on #23
@NIghtHawkATL, for now, visit https://hub.docker.com/r/justsky/goaccess-for-nginxproxymanager for the ARM images.

[2022-03-09 19:43] NIghtHawkATL commented on #23
Thank you! This works great!

[2022-03-09 20:50] rtorchia opened #24 "timezone"
Latest image based on Alpine does not follow the set timezone in the TZ environment variable. The image based on ubuntu worked fine.

[2022-03-09 21:56] xavier-hernandez commented on #24
@rtorchia are you using main or develop? Develop has been fixed. I've tested it on my remote machine. Thanks for opening the issue.

[2022-03-09 22:05] dominickolbe commented on #12
Same issue but since you deleted a random log file I have no idea what's the actual problem here.

[2022-03-09 22:05] rtorchia commented on #24
I used the main. I'll give it a try with the develop version

[2022-03-09 22:09] rtorchia commented on #24
just pulled the develop version and the timezone working great!
Thank-you!!

[2022-03-09 22:09] #24 closed

[2022-03-09 23:02] xavier-hernandez commented on #24
Pushed to main/latest

[2022-03-10 03:54] Gatherix commented on #21
An Unraid template has been published, working for me

[2022-03-10 04:50] SavageAUS commented on #21
Thank you for getting that template up so quickly. Really need to learn how to create a template. Container up and running for me.

[2022-03-10 05:43] xavier-hernandez commented on #21
@SavageAUS Check out this youtube video from IBRACORP https://youtu.be/g6iMwea-HLY

[2022-03-10 05:44] xavier-hernandez commented on #7
Still reviewing this.

[2022-03-10 09:08] Just5KY commented on #12
it seems the issue was with the log formatting.
also `proxy-host-49_access.log` only had like 6 lines of log, so I didn't delete a whole lot of log

[2022-03-10 16:32] xavier-hernandez commented on #12
@dominickolbe check your docker container logs it should provide you some information just as @Just5KY reported in their container logs.

2022-03-02T03:02:32.077458000Z ==16== FILE: /opt/log/proxy-host-49_access.log
2022-03-02T03:02:32.077619000Z ==16== Parsed 2 lines producing the following errors:
2022-03-02T03:02:32.077763000Z ==16==
2022-03-02T03:02:32.077891000Z ==16== Token '009' doesn't mat

[2022-03-10 18:30] dominickolbe commented on #12
@xavier-hernandez
container is restarting over and over

[code]

[2022-03-10 19:17] xavier-hernandez commented on #12
@dominickolbe you're using the ARM version?

[2022-03-11 02:14] #12 closed

[2022-03-11 15:19] #23 closed

[2022-03-11 15:20] xavier-hernandez commented on #21
Docker image is now part of Unraid.

[2022-03-14 11:03] Albonycal opened #27 "Live TX / RX"
Live bandwidth monitoring support would be nice
Thanks

[2022-03-19 17:15] masterwishx opened #28 "A lot of CPU Usage and 15000 request every second in webUI"
Please check my post in Unraid forum https://forums.unraid.net/topic/120935-support-xavierh-goaccess-for-nginxproxymanager/?do=findComment&comment=1108337

[2022-03-20 01:55] xavier-hernandez commented on #28
@masterwishx has this always been happening for you or just recently?

[2022-03-20 06:48] masterwishx commented on #28
i only yesterday founded it ,cant tell if it was always ,but when start docker its OK but with some time it has been add more and more request, i started docker now and will post here after some hours

[2022-03-20 14:55] masterwishx commented on #28
its very strang but today its OK ,i cant see this problem ,so i think it was maybe only yesterday but i still check it and will check for some days also ...
![image](https://user-images.githubusercontent.com/28630321/159168456-cfa2087a-b009-4081-9eff-138c3d5279ea.png)
![image](https://user-images.githubusercontent.com/28630321/159168471-e070518b-8a88-4e00-8e16-fa704b06de11.png)

[2022-03-20 18:39] xavier-hernandez commented on #28
If it was doing the 15k requests every second then I would assume that is why the CPU was high. Let me know if it continues to be an issue. Thanks.

[2022-03-20 19:01] masterwishx commented on #28
OK

[2022-03-20 20:31] Silversurfer79 opened #29 "standard_init_linux.go:228: exec user process caused: exec format error"
I cannot get it to work on my Raspberry Pi (full updated). Latest version of docker and Portainer. I created a stack with the below and get this error: standard_init_linux.go:228: exec user process caused: exec format error

version: "3"
services:
  goaccess:
    image: xavierh/goaccess-for-nginxproxymanager:latest
    container_name: GoAccess
    restart: always
    environment:
        - TZ=Euro

[2022-03-20 21:09] xavier-hernandez commented on #29
Currently, the ARM docker images are managed by @Just5KY
 https://hub.docker.com/r/justsky/goaccess-for-nginxproxymanager

[2022-03-20 21:16] xavier-hernandez commented on #27
@Albonycal this project is mainly to allow easier access to GoAccess. That feature won't be a part of this project. Sorry.

GoAccess does show you TX in the upper right-hand corner but pretty sure that's not what you're looking for.

![image](https://user-images.githubusercontent.com/6011223/159186184-4303ff1f-a98a-44c1-8dc0-1e4fc240f393.png)

[2022-03-20 21:16] #27 closed

[2022-03-20 21:18] Silversurfer79 commented on #29
Thanks, will go there ;-)

[2022-03-21 19:13] zeus1999 opened #30 "GoAccess dont get npm logs?"
I run NPM in an docker container with the following map                /root/npm/data      ->        /data

when i add a new container:
[code]

I can open the page but it stays by zero.

ls -la  (/root/npm/data/logs)
[code]

[2022-03-21 19:22] fuuman opened #31 "No data"
[code]
I am using the `docker-compose.yml` above and under `/data/nginx-proxy-manager/app/data/logs` are multiple log files (`proxy_host-x.log`) files. I see zero data. Everything is 0. Just `Log Parsing Time` is 1 second. So I cannot see any old or live data. What am I doing wrong?

[2022-03-21 21:06] xavier-hernandez commented on #30
I recommend you do "docker container logs Goaccess" it should tell you if the docker container can read your logs files. It could be a permission issue..

[2022-03-21 21:07] xavier-hernandez commented on #31
Someone else just posted the same thing...

I recommend you do "docker container logs goaccess" it should tell you if the docker container can read your logs files. It could be a permission issue.

[2022-03-21 21:08] xavier-hernandez commented on #28
@masterwishx still working? If so, I can close this ticket.

[2022-03-21 21:08] zeus1999 commented on #30
it says

[code]

thats strange. there is an large default.log file

[2022-03-21 21:08] xavier-hernandez commented on #29
@Silversurfer79 can I close this?

[2022-03-21 21:11] xavier-hernandez commented on #30
It doesn't currently process the default.log. It's on the list to do since it's a different log format.

It should be listing all the files it found. Something like below. Are your logs stored at "/npm/data/logs" or "/root/npm/data/logs" ? I noticed that in your first comment. Please verify the location of the logs.

Loading (94) archived logs...
Checking active logs...
Filename: /opt/log/proxy-ho

[2022-03-21 21:16] zeus1999 commented on #30
verified. pwd is /root/npm/data/logs

[2022-03-21 21:23] zeus1999 commented on #30
Its an LXC (Ubuntu 21.04) on an Proxmox server

[2022-03-21 21:24] Silversurfer79 commented on #29
Yes thanks

On Mon, 21 Mar 2022, 21:08 Xavier, ***@***.***> wrote:

[2022-03-21 21:25] #29 closed

[2022-03-21 22:01] rtorchia commented on #30
@zeus1999
I could be reading to much into your replies, but check your path to your log files.
You replied that your logs are at _/npm/data/logs_, but your script has _/root/npm/data/logs_
If so, then you should have:

[2022-03-21 22:04] zeus1999 commented on #30
i triple checked it now. the logs are here:     /root/npm/data/logs

[2022-03-21 22:23] rtorchia commented on #30
That good to know.
I had problems with goaccess not readying my log files until I deleted everything in the logs directory and started fresh.
Looking at your directory, there is a strange file

Wonder if you are having something similar to what I experienced

[2022-03-21 22:36] zeus1999 commented on #30
Very Strange, i removed all log files restartet the system, created the container, and same problem....

[2022-03-21 23:36] xavier-hernandez commented on #30
@zeus1999 I see the issue. I didn't realize it before but your filenames are different. The app reads "proxy-host-*_access.log" files. Your file is called proxy_host-37.log.

What version of NPM are you running?

[2022-03-21 23:49] zeus1999 commented on #30
according to the webui> v2.8.1

[2022-03-21 23:57] xavier-hernandez commented on #30
The latest is 2.9.16. Before we have you updating NPM or anything like that. Would it be possible to send me a sample log file? I'd like to check the log file and see if it matches the current log files structure.

[2022-03-22 00:13] zeus1999 commented on #30
Sure, i would delete the link, after you have downloaded it.

https://pastebin.com/V93vpZ6Z

[2022-03-22 00:34] xavier-hernandez commented on #30
Got it, feel free to delete.

[2022-03-22 00:41] xavier-hernandez commented on #30
@zeus1999 I think you sent me a redirection log is that correct? I need a proxy_host-*.log. It just needs to be a few lines as well.

[2022-03-22 00:46] zeus1999 commented on #30
Sorry! My fault. Here you go:  https://pastebin.com/KseZSSiE

[2022-03-22 00:47] xavier-hernandez commented on #30
Got it!

[2022-03-22 02:19] xavier-hernandez commented on #30
@zeus1999

I've made a mod to the script that looks for the proxy files.

"proxy-host-*.log" except anything containing "*_error.log" which will exclude the error logs for now.

Can you pull down the dev version and see if it works for you? xavierh/goaccess-for-nginxproxymanager:develop

[2022-03-22 02:21] xavier-hernandez commented on #30
I still can't find documentation of when this changed. I've searched the NPM repo. I do see examples of log files names in comments from 2019 that differ from comments made in 2021/2022.

¯\_(ツ)_/¯

[2022-03-22 12:50] zeus1999 commented on #30
Thanks!

But it doesnt work either. Same problem, same output.

I created the container

[code]

[2022-03-22 18:30] fuuman commented on #31
I don't think that it has anything to do with permissions. And the log just tells me "no logs to scan". The problem is that npm is saving its files like I mentioned above. As `proxy_host-x.log`. And goaccess looks for `proxy_host-x_access.log`. That's the whole problem.

[2022-03-22 18:44] zeus1999 commented on #30
docker container logs Goaccess

[code]

ls
[code]

[2022-03-22 19:11] xavier-hernandez commented on #30
I can confirm it works on my end using a file you sent me yesterday with the filename you are using.

If you used the develop tag in the past maybe do "docker pull xavierh/goaccess-for-nginxproxymanager:develop" to get the latest.

docker run --name=Goaccess --restart=always -p 7880:7880 -v /opt/sample-logs-develop:/opt/log -e SKIP_ARCHIVED_LOGS=False xavierh/goaccess-for-nginxproxymanager:develop

[2022-03-22 19:14] xavier-hernandez commented on #30
Other than a couple of file names I don't believe there is any personal information in the screenshot. Let me know if you want me to remove it.

Also, can you try going back in the container and do a "cat proxy_host-1.log" and check if any data is displayed. It should detect file permissions but maybe its not. Just want to verify that and cover all the basics.

Thanks.

[2022-03-22 19:18] xavier-hernandez commented on #31
@fuuman what version of NPM are you running?

I just pushed out a dev docker image to address this yesterday for another user. Can you try that?

xavierh/goaccess-for-nginxproxymanager:develop

[2022-03-22 19:29] fuuman commented on #31
The newest, which is `v2.9.16`.

[2022-03-22 19:45] xavier-hernandez commented on #31
I'm running the same version and I'm not sure why there is a difference in file names. It's frustrating. I was hoping you were running 2.18 and at some point, there was a change in the filename structure. So that thought is out the window.

@fuuman you'd have to wait for @Just5KY to update his images

When I have time I'll try to implement the ARM images as well on my end.

[2022-03-22 19:47] xavier-hernandez opened #32 "Create ARM images"
To make sure all the images are using the latest code.

[2022-03-22 19:48] fuuman commented on #31
Which docker image of npm are you using?

[2022-03-22 19:52] xavier-hernandez commented on #31
jc21/nginx-proxy-manager:latest

[2022-03-22 19:56] fuuman commented on #31
Okay, that's sick, I am actually using the exact same image. :D

I cannot believe that your names are named different. Thats the result of `ls`in my npm log folder:
[code]
Your files have `_access`? Then the only thing could be the architecture, because I am using the ARM image and you don't.

[2022-03-22 19:59] xavier-hernandez commented on #31
Here is a sample...

![image](https://user-images.githubusercontent.com/6011223/159565515-056ec00e-bc43-4ffb-aa4e-836475f1a986.png)

[2022-03-22 20:13] fuuman commented on #31
Okay, I have no clue.. super weird.

[2022-03-22 20:28] fuuman commented on #31
@xavier-hernandez Another weird thing is that I have zero gz files. Maybe it's a configuration issue but I ccanot find any npm documentation according to logging.

[2022-03-22 20:42] Just5KY commented on #31
My image is updated

[2022-03-22 21:28] xavier-hernandez commented on #31
@Just5KY - no problem. Yeah, I'm trying to solve this filename issue, with 2 users, so I just committed to the develop branch. Thanks for your help!

[2022-03-22 21:32] Just5KY commented on #31
Swear, this goes faster when I'm not looking
![image](https://user-images.githubusercontent.com/71321862/159579578-0f16aba5-1434-4f17-8e7c-f479b2f657d1.png)

[2022-03-22 21:40] xavier-hernandez commented on #31
@Just5KY sorry bud. I hope to take this off your plate soon. I finally dug up my old raspberry PI so that I can test out at least one of the builds for ARM.

[2022-03-22 21:57] fuuman commented on #31
I am sorry to say that but it's not working for me. I just pulled your new develop image. But just zeros in the frontend. Maybe I have another error. Because even when I do `cp proxy-host_1.log proxy-host_1_access.log` in my npm log folder and restart the goaccess container I have the exact same result...

[2022-03-22 21:58] Just5KY commented on #31
Container logs still the same?

[2022-03-22 22:03] Just5KY commented on #31
This is  the naming convention in my NPM logs
![image](https://user-images.githubusercontent.com/71321862/159583889-05c91cc1-97af-441b-acae-35333eebcd93.png)

[2022-03-22 22:07] xavier-hernandez commented on #31
@fuuman I assume you meant "proxy-host-1.log" and not "proxy-host_1.log", typo? I'd recommend you enter the container and see if it has access to the files.

"docker exec -it goaccess /bin/bash" then navigate to /opt/log and check to make sure the files are there and are readable.

Thanks.

[2022-03-22 22:08] xavier-hernandez commented on #31
No changes to anything other than modifying the script that finds the proxy files.

https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/commit/e773f462c571fa08777d5e294d1c57672ff1f2fa

[2022-03-22 22:12] fuuman commented on #31
Yes, typo.

Still the exact container log for goaccess.

Yes, I was in the container. Logs are there and readable. Can open them.

[2022-03-22 22:15] Just5KY commented on #31
@fuuman can you share your docker-compose for nginxproxy

[code]

[2022-03-22 22:23] fuuman commented on #31
[code]

[2022-03-22 22:26] Just5KY commented on #31
Its exactly same

[2022-03-22 22:27] xavier-hernandez commented on #31
Shouldn't your volume be like this?

version: "3.9"
services:
  goaccess:
    image: justsky/goaccess-for-nginxproxymanager:latest
    container_name: goaccess
    restart: always
    environment:
        - TZ=Europe/Berlin
        - SKIP_ARCHIVED_LOGS=False #optional
        - BASIC_AUTH=False #optional
        - BASIC_AUTH_USERNAME=user #optional
        - BASIC_AUTH_PASSWORD=pass #optional

[2022-03-22 22:34] Just5KY commented on #31
You did change the volume to your nginx proxy log location, right? @fuuman

[2022-03-22 22:38] fuuman commented on #31
Yes, I just hide the original path there. As mentioned I was in the goaccess container and was able to see and read the logs under `/opt/log`.

[2022-03-22 22:42] xavier-hernandez commented on #31
Oh, you need to switch to the develop tag! The new code is only currently in the develop tag.

justsky/goaccess-for-nginxproxymanager:develop

[2022-03-22 22:44] fuuman commented on #31
I am using the develop tag. Above is my quoted original post.

[2022-03-22 22:48] Just5KY commented on #31
can you add root user perms in your compose and test

[code]

[2022-03-23 05:32] Just5KY commented on #31
I have updated `justsky/goaccess-for-nginxproxymanager:develop` image with the latest release.
if you can test it out @fuuman

[2022-03-23 12:56] arsaboo commented on #5
Alternatively, expose some options such as `exlcude-ip` using environmental variables

[2022-03-23 19:57] fuuman commented on #31
@Just5KY Just tested it. Still the same.

Log:
[code]

Again I went into the container and checked `/opt/log`. Again all logs there. Readable.

If I can do anything else to help, please let me know.

[2022-03-23 20:02] xavier-hernandez commented on #31
@fuuman just to summarize again.

- you're using a Raspberry Pi?
   - If so, what version and OS
- can you post again your directory/files "ls -la", so we can see the user as well if possible?
- can you also post your docker-compose again for goaccess-for-nginxproxymanager?

Thanks.

[2022-03-24 02:51] #28 closed

[2022-03-24 02:55] xavier-hernandez commented on #19
@SAOPP sorry for the delay in response. I currently don't run Traefik. That'd be probably another project/repo since this is specific to NPM but it should be possible. I've only run Traefik once in my life :P

If your willing to assist I'm game for giving it a try.

[2022-03-24 19:52] fuuman commented on #31
@xavier-hernandez

OS: "Raspbian GNU/Linux 10 (buster)"

ls -la:
[code]

docker-compose.yml:
[code]

[2022-03-24 20:52] xavier-hernandez commented on #31
@fuuman I have a PI finally up and running. I'll try checking on that one later today. The only difference I would see is that I'm running Raspbian GNU/Linux 11 (bullseye)

[2022-03-24 21:32] Goro2030 opened #33 "Feature? Read into rotated logs"
Shouldn't be nice if GoAccess would process the compressed rotated logs from NGINX?

I have this:

-rw-r--r-- 1 root root    17247 Mar 24 08:54 proxy-host-8_access.log
-rw-r--r-- 1 root root     2153 Mar 19 23:28 proxy-host-8_access.log.1.gz
-rw-r--r-- 1 root root     2793 Mar 14 05:56 proxy-host-8_access.log.2.gz
-rw-r--r-- 1 root root     3515 Mar  6 01:35 proxy-host-8_access.log.3.gz
-rw-r--r--

[2022-03-24 21:51] masterwishx commented on #28
i have again this issue and but 9000 request every second for now , using docker with basic auth method , i was checked every day and in the morning was OK but now founded it again. how i can check from where thouse request maybe yo can tell ?
![image](https://user-images.githubusercontent.com/28630321/160016022-c6e8ba75-f540-479c-87e8-ad631baf8f36.png)
![image](https://user-images.githubuserconte

[2022-03-24 22:14] xavier-hernandez commented on #33
@Goro2030 what version are you using?

It should be processing the archived one. Do a "docker container logs container-name" and provide the output.

[2022-03-24 22:18] xavier-hernandez commented on #33
I'm currently running the development version but you should see something similar to this...

[code]

[2022-03-24 22:36] xavier-hernandez commented on #31
:( I'm sorry but it's working for me. I have some sample logs that I use for testing. I even played with the owner of the files switching it from pi to root. Still worked.

[code]
[code]

![image](https://user-images.githubusercontent.com/6011223/160021177-b122ae3d-8e6e-4d61-995c-51c0ee853c58.png)

[2022-03-24 23:41] Goro2030 commented on #33
I see something like that, exactly ... but as it didn't say anything about .gz files, my assumption is that it didn't ingest .gz files...

Loading (29) archived logs...
Checking active logs...
Filename: /opt/log/proxy-host-6_access.log | Read = yes
Filename: /opt/log/proxy-host-3_access.log | Read = yes
Filename: /opt/log/proxy-host-9_access.log | Read = yes
Filename: /opt/log/proxy-host-2_access.

[2022-03-25 00:06] xavier-hernandez commented on #33
Loading (29) archived logs... means it's looking through the .gz files.

Run the following command in your logs directory and post the output. This should return the last 10 proxy-host access gz files.

ls -lt proxy-host-*_access* | tail -10

[2022-03-25 06:43] masterwishx commented on #28
please open issue

[2022-03-25 06:50] masterwishx commented on #28
today after i turn off server for night i still have this isshue liek 9000 10000 request every second, and this eats 30% of CPU  :
maybe you can tell me what to check to find the problem?
![image](https://user-images.githubusercontent.com/28630321/160069073-69269389-1663-49fa-b745-5ba1651d4280.png)

[2022-03-25 10:31] buzzke commented on #30
Seems like a mismatch between the Arm and Amd version.
Had the same issue on the Arm docker image (jc21/nginx-proxy-manager:latest)
As a test i deployed the same image on a Amd machine.  And the logs are indeed in different format.

`total 456
-rwxrwxrwx+ 1 root root   3304 Mar 25 11:26 fallback_access.log
-rwxrwxrwx+ 1 root root    713 Mar 25 11:04 fallback_error.log
-rwxrwxrwx+ 1 root root   559

[2022-03-25 10:50] Goro2030 commented on #33
Yeah... it looks like the old logs are too tiny... i looked into them and they have just 20-30 log entries only. Case closed!

ls -lt proxy-host- ? _access * | tail -10
-rw-r--r-- 1 root root   9708 Feb 20 07:00 proxy-host-9_access.log.4.gz
-rw-r--r-- 1 root root   9211 Feb 20 07:00 proxy-host-7_access.log.4.gz
-rw-r--r-- 1 root root  10061 Feb 20 06:59 proxy-host-6_access.log.4.gz
-rw-r--r-- 1 ro

[2022-03-25 10:51] Goro2030 commented on #33
Thanks for the quick support @xavier-hernandez !! You rock! Great product, keep it going!

[2022-03-25 12:12] Just5KY opened #34 "Setup GitHub Actions for automated multi-arch container build and push to dockerhub"
You can use GitHub actions to build multi-arch images
https://github.com/marketplace/actions/docker-setup-buildx

Found a tutorial on how to do it.
https://youtu.be/cXagGh_7TH4

I mixed both together and made this on another repo
 https://github.com/Just5KY/scalyr-tool/blob/main/.github/workflows/dockerhub.yml

I can create a PR if you want

[2022-03-25 17:36] zeus1999 commented on #30
Yeah I see, i could get this to run. Always stays by No archived logs found

[2022-03-25 18:20] xavier-hernandez commented on #30
@zeus1999 it started working for you overall, just no archives found?

Archived/old data has an extension of .gz at least in my case. Do you see anything like that on your version?

[2022-03-25 19:26] xavier-hernandez commented on #34
@Just5KY I was actually looking at github actions recently but didn't really have time. I was looking at something created by crazy-max but yours looks super easier. Feel free to create a PR. Once you complete your PR I'll try it out on a different repo of mine and make sure everything works then I'll approve it. Don't want to accidentally mess up the images :P

What does this do, schedule an auto

[2022-03-25 19:26] xavier-hernandez commented on #32
@Just5KY has a solution and opened a separate ticket for this. Closing this.

[2022-03-25 19:26] #32 closed

[2022-03-25 19:27] xavier-hernandez commented on #33
No problem ;)

[2022-03-25 19:27] #33 closed

[2022-03-25 19:28] xavier-hernandez commented on #19
@SAOPP this weekend I'll set up Traefik and let you know when I have something feasible to test.

[2022-03-25 19:33] Just5KY commented on #34
[code]

I am still playing around with it, but it works

[2022-03-25 19:39] Just5KY commented on #34
I also found this
https://github.com/Yooooomi/your_spotify/blob/master/.github/workflows/client.yml

Its clear implementation, but it does not have automatic builds

[2022-03-25 19:45] Just5KY commented on #34
You can just add this to your test repo like  `test_repo/.github/workflows/FILENAME.yml`

you need to create a GitHub secret for your dockerhub access token with the name `DOCKER_TOKEN`

[code]

[2022-03-25 20:05] zeus1999 commented on #30
No not working. There is any compressed file. Only proxy_host-x.log and some other log files. See here: https://pastebin.com/ugLzuMxn

[2022-03-25 20:35] xavier-hernandez commented on #30
@zeus1999 since there are no .gz files then it'll always tell you it didn't find any archive files.

Have you tried adding the following, looks your log files are created another root?

    environment:
        - PUID=0
        - PGID=0

[2022-03-25 20:40] xavier-hernandez commented on #30
@zeus1999 also please pull the latest from the develop image. This is what your docker-compose should look like.

goaccess:
    image: xavierh/goaccess-for-nginxproxymanager:develop
    container_name: goaccess
    restart: always
    volumes:
        - /root/npm/data/logs:/opt/log
    ports:
        - '7880:7880'
    environment:
        - PUID=0
        - PGID=0
        - TZ=America/New_York

[2022-03-25 20:53] zeus1999 commented on #30
i created the docker compose exactly from your paste:

this output:

[code]

i entered the shell from the docker container and can see the logs and also read them.

but same result? what am i doing wrong?

[2022-03-25 21:10] xavier-hernandez commented on #30
@zeus1999

That looks like an old image, I added a version number recently.

run "docker pull image xavierh/goaccess-for-nginxproxymanager:develop" then run "docker-compose up" again

[2022-03-25 21:13] zeus1999 commented on #30
true

new log
[code]

[2022-03-25 21:13] fuuman commented on #31
Would it be possible that you give me access to your test files? I could copy them into my log folder. If it works, my log files from npm are trash. If it doesn't work my goaccess setup has a problem.

[2022-03-25 22:38] xavier-hernandez commented on #31
Small sample files.
https://filebin.net/ae6p1g3o8p01gub5

[2022-03-25 22:50] SAOPP commented on #19
Dope! Wait for it. :)

[2022-03-30 22:11] xavier-hernandez opened #37 "Cumulative data"
Prior to deploying the latest, v1.04, I tested against my production server and the number of hits went down drastically. I had over 1,000,000 million requests compared now to 600,000.

I tested the docker image and that is not the issue. I tested the logs with the "latest" older version and the stats were the same. I also tested via the goaccess cli and the results were the same.

I'm not sure if

[2022-03-31 10:17] SAOPP commented on #19
Hi! Any news? :)

[2022-03-31 15:10] rtorchia commented on #37
yup, everything has been looking good.  I even updated today to npm 2.9.17 and checked on everything and it looks fine. All running under Docker on Ubuntu server 20.04

[2022-04-01 01:11] xavier-hernandez commented on #19
@SAOPP

I really put something quickly together https://github.com/xavier-hernandez/goaccess-for-traefik/tree/develop using this repo as a template.

Docker image available. I still need to research some things but just point it at your access.log file.

Open any tickets in that repo, please.

[2022-04-01 01:11] #19 closed

[2022-04-01 02:38] SAOPP commented on #19
Wow homie, it's works!! :) Okay, I will switch to a new repo, thanks buddy!

[2022-04-01 07:24] masterwishx opened #38 "A lot of CPU Usage and 10000 request every second in webUI like #28"
im very sorry but i again have this issue ,maybe yo can open the old one
https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/issues/28

it was running about 2 days normal then it start grow up  about 10000 in second ,
if im not running container for some days it again working Good for 2 days ,and then again start raising
Very strange i dont has this ishue on [gregyankovoy/goaccess](

[2022-04-01 19:08] xavier-hernandez commented on #37
closing for now... maybe I deleted some proxies

[2022-04-01 19:08] #37 closed

[2022-04-03 19:47] xavier-hernandez commented on #34
@Just5KY @martadinata666

@Just5KY I committed your PR then I made some modifications that I was talking about previously. I also added some additional steps. Not sure if everything is as simple as it should be but have a look at the workflow. Can you test the new develop image and latest image on your local, before I update the README file?

- changed the auto-build for tags only
- will run the w

[2022-04-03 19:47] xavier-hernandez commented on #34
@Just5KY @martadinata666 - thanks for all your help on getting this done. Saved me a bunch of time.

[2022-04-03 20:03] fuuman commented on #31
@xavier-hernandez Sorry,I had no time. Can you upload again? The filebin went down in the meantime.

[2022-04-04 02:52] Just5KY commented on #34
@xavier-hernandez i tested both Latest and Dev image, works just fine.

[2022-04-04 02:57] martadinata666 commented on #34
As workflows itself depends on personal preferences, from your need stated the current workflow is sufficient.

* main branch - docker image will be flagged as "latest"
* tags - docker image will be flagged with the tag, i.e. "v1.0.5"

That mean there is 3 flavour instead of two, as i stated before in PR, usually `:latest` is same as the `:vXXX` , and keep follow the same with the most recent tag.

[2022-04-04 03:08] xavier-hernandez commented on #34
@martadinata666 Appreciate the input. I think you are 100% right on the personal preference point. I think right now this is what I feel the most comfortable with. At some point :latest will equal :vXXX and I might actually take out caching altogether.

[2022-04-04 03:10] xavier-hernandez commented on #34
@Just5KY tomorrow I'll update the readme file that the 3 docker image versions are available in my repo. Did you want me to remove the link to yours or will you continue to update your docker images?

[2022-04-04 03:11] Just5KY commented on #34
i will still keep my repo up-to-date.
If anyone wanna use my version, they can

[2022-04-10 04:30] Mission-Contro1 commented on #38
Just want to confirm that I'm also having this issue -- roughly 8,000 requests per second as reported by the web-ui.

![image](https://user-images.githubusercontent.com/17794069/162601409-948db7d0-38ca-4284-a31a-d15335d484c9.png)

Running the Unraid version of the image (v1.0.5) -- everything is flawless except for this one issue. Thanks for all your effort so far -- I discovered your work via a Y

[2022-04-10 17:39] masterwishx commented on #38
Thanks, I thought I only one have this problem

[2022-04-10 22:16] xavier-hernandez commented on #38
I deployed a new version to the develop branch. I'm adding the files now to the goaccess.conf file instead of the command line. Give it shot.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

[2022-04-10 22:20] xavier-hernandez commented on #31
@fuuman

I updated the develop image recently. Can you try that? I also added a DEBUG flag, check out the README file under the develop branch for more information. Also, an ARM version is available now from my docker repo.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

[2022-04-10 22:20] #34 closed

[2022-04-10 22:21] xavier-hernandez commented on #30
A new version has been pushed out. Try that one.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

[2022-04-10 22:22] xavier-hernandez commented on #20
@rtorchia please re-open if this issue comes back.

[2022-04-10 22:22] #20 closed

[2022-04-10 22:30] fuuman commented on #31
[code]
Which is correct because I have no archived access logs. My NPM does not generate any. I have just files named like "proxy_host-i.log"

[2022-04-10 22:42] xavier-hernandez commented on #31
@fuuman sample files - https://filebin.net/u45b6p4i14uf5pt5

[2022-04-11 06:49] masterwishx commented on #38
OK, Thanks a lot I will try.

I founded mostly requests going from Authelia and nextcloud also I have Uptime Kuma every 5 min. The container start OK but after some time it's going much more request. So I need to stop it for some days.

This very strange issue I didn't had this problem on old version of https://github.com/GregYankovoy

[2022-04-11 16:21] fuuman commented on #31
@xavier-hernandez With these files everything is working correctly. 2 files downloaded into the log folder, 2 files imported automatically.
I just have no idea why my NPM names the logfiles different than your NPM.

[2022-04-11 16:39] xavier-hernandez commented on #31
@fuuman The files you downloaded included both versions of file names. The one you are using [proxy-host-2.log] and the one I'm using [proxy-host-4_access.log].

[2022-04-11 16:43] fuuman commented on #31
No, I am using `proxy_host-2.log` with an underscore between `proxy` and `host`.

[2022-04-11 16:55] xavier-hernandez commented on #31
@fuuman oh ok. I can modify the code for that then.

[2022-04-11 16:56] xavier-hernandez commented on #31
can you open a separate issue for that?

[2022-04-11 16:56] fuuman commented on #31
Would be awesome. Thank you :)

[2022-04-11 16:59] fuuman opened #44 "Need support for another filename format of NPM log files"
My Nginx Proxy Manager saves log files as `proxy_host-2.log` with an underscore between `proxy` and `host`. Currently that's not supported.

[2022-04-11 17:00] fuuman commented on #31
Will be solved by #44.

[2022-04-11 17:00] #31 closed

[2022-04-11 18:58] Mission-Contro1 commented on #38
Sadly still having the same issue. It will start just fine but after a few seconds it will create the 8,000 requests once every second.

@masterwishx You and I have a very similar set up! I have Nextcloud and Uptime Kuma running as well. I will try disabling them both from NPM to see if it narrows down the issue.

[2022-04-11 19:02] Mission-Contro1 commented on #38
I tried stopping NPM but the GoAccess request counter is still going strong.

[2022-04-11 21:05] masterwishx commented on #38
I don't think the problem in them Becouse befor I used other same docker but with old version of goaccess 1.4 and was no problem.
I still have it but not using for now. But I checked both and the old version does not have this issue.
Now I trying the dev instead last of this docker and will post here if will be same problem.

[2022-04-12 02:16] xavier-hernandez commented on #38
@Mission-Contro1 and @masterwishx so I just found an issue in the current develop build that actually caused the problem that you found. It might be related to what you were seeing in the past but just manifested itself differently this time.

Please pull the latest develop version:
docker pull xavierh/goaccess-for-nginxproxymanager:develop

[2022-04-12 03:29] xavier-hernandez commented on #38
@Mission-Contro1 can you add the debug flag if you haven't already. "DEBUG=True" and browser to /goaccess_conf.html search for this flag "#GOAN_PROXY_FILES" and provide me the output of the files listed after that.

[2022-04-12 04:20] Mission-Contro1 commented on #38
Thanks for the quick reply! Where do I add the debug flag? I see there's a debug/goaccess_conf.html file when I exec into the container but it doesn't contain the flag you mentioned.

<!doctype html>
<html>
  <head>
    <title>GoAccess for Nginx Proxy Manager Logs - (#goan_version)</title>
    <style>
        body {
          font-family: Arial, sans-serif;
        }
        code {
          white

[2022-04-12 04:30] Mission-Contro1 commented on #38
However these are the files that are listed at /goaccess-config/proxy_logs:
log-file /goaccess-config/access_archive.log
log-file /opt/log/proxy-host-1_access.log
log-file /opt/log/proxy-host-2_access.log
log-file /opt/log/proxy-host-3_access.log

[2022-04-12 06:27] masterwishx commented on #38
From yesterday dev version until today I don't
see this issue, but have spikes some times not every second and still have much requests at sum I think, but maybe needs more time for checking for night I shut down server.
I will update to lasted dev  and will check also

[2022-04-12 11:24] masterwishx commented on #38
can you please explain where to add this flag ?
do you mean add  variable to container ?

[2022-04-12 11:30] masterwishx commented on #38
in container console  /goaccess-config # cat goaccess.conf

![image](https://user-images.githubusercontent.com/28630321/162950443-dbb69756-d577-4153-a910-968102b90e1c.png)

[2022-04-12 14:33] xavier-hernandez commented on #38
Hmm... That screenshot looks good.

I added a variable for the container recently called DEBUG but you got me the information I needed.
- DEBUG=True

Can you try skipping the archived logs?
 - SKIP_ARCHIVED_LOGS=True

[2022-04-12 18:55] fuuman commented on #44
It's working!

[2022-04-12 18:55] #44 closed

[2022-04-12 20:28] xavier-hernandez commented on #44
@fuuman do you have archive logs ending in .gz ? If so, what is the filename for those.

[2022-04-13 20:48] masterwishx commented on #38
i checked without arhived log the problem is still exist at end of a day

![image](https://user-images.githubusercontent.com/28630321/163267784-974b0f11-e134-4278-9701-487be599fc03.png)

[2022-04-18 20:55] xavier-hernandez commented on #38
That additional file can't be the issue. I can't figure out what might be causing the problem. Do you have any additional customizations to NPM?

[2022-04-18 21:23] Mission-Contro1 commented on #38
No other customizations on my end -- 3 Proxy Hosts with 3 different certs through Let's Encrypt, that's all. I haven't been able to get any closer to figuring out what's wrong.

[2022-04-18 21:31] xavier-hernandez commented on #38
@Mission-Contro1 can you post a screenshot of all your files in that directory?

[2022-04-18 21:54] Mission-Contro1 commented on #38
Sure -- here it is:
![image](https://user-images.githubusercontent.com/17794069/163882766-0063cce3-6788-42ff-b88b-68ea655cb026.png)

[2022-04-19 08:27] masterwishx commented on #38
No
I but I use cloudflare dns proxy also.
The file is still here becose issue in this container
I mean I need it for check the old container but I don't have same problem in it.
I have 5000 request in a day in container and in cloudflare analytic.
But here I have 1000000 in 3 days.
I'm also don't understand what the problem maybe its in 1.55 version.
Maybe the author of program can help?

[2022-04-20 00:21] xavier-hernandez commented on #38
@masterwishx I read the thread and I think I'd recommend as well what allinurl said. If you can run goaccess directly against the logs and see if it happens that'd be best.

[2022-04-20 08:00] masterwishx commented on #38
OK, I can try but I don't know what is mean directly? Without the docker?
How I can do it?

[2022-04-20 08:02] masterwishx commented on #38
If you can help with it will be awesome

[2022-04-27 03:17] xavier-hernandez commented on #38
sorry been busy for a bit, i'll get to this by the end of the week

[2022-04-27 03:19] #30 closed

[2022-04-27 07:23] masterwishx commented on #38
OK, Thanks

[2022-04-27 12:01] itsKV commented on #7
Any progress here?

[2022-04-27 16:56] xavier-hernandez commented on #7
@itsKV I have been looking into it and I don't think it's possible in the way the docker image currently runs and the way logs are handled in general. GoAccess does not currently support this functionality. Its only real job is to parse whatever logs you provide it. GOAN, what I'm calling this docker image now, is just really a helper to get the logs from NPM to GoAccess in a friendly manner witho

[2022-04-28 19:42] stavros-k commented on #38
I'm also facing the same issue.
I only have `proxy_host-*.log` and `proxy-host-_access.log` files
49 "Current" and 80 "Archived"
Once I stop it from scanning the archived, It's seems to work fine.

With archived files, it keeps increasing and all the statistics go to "yesterday" day.

If you want me to test anything, let me know

[2022-04-29 02:25] xavier-hernandez commented on #38
@stavros-k you have both versions, proxy_host-*.log and proxy-host*access.log?

[2022-04-29 05:53] stavros-k commented on #38
Correct,
[code]

[2022-04-29 06:52] adidgit opened #45 "Date range selector"
Hi,

Would be great if there was a date range selector where you can select specific dates so to be able to review specific data.

Thanks

[2022-04-30 12:13] beastarman74 opened #46 "Feature Request - capability to access the --exclude-ip option in GoAccess."
This would allow the exclusion of specific IP's/IP ranges from the GoAccess charts.

This will help with excluding monitoring tools entries in the log files e.g. from uptime-kuma.

[2022-05-10 00:13] xavier-hernandez commented on #45
@adidgit in the UI or in the logs imported? If its the UI, then that would be something for goaccess, https://github.com/allinurl/goaccess

[2022-05-15 19:35] adidgit commented on #45
Hi, In the UI. Yes, you are right. Goaccess would be the right place.
BTW...Thanks for the excellent application!

[2022-05-16 15:00] niceborn opened #50 "Request: please enable redirection-host-*_access.log"
Hi,

thanks for the good work. I have a wish to you.

Right now it seems that only Proxy logs are processed. I would like also to have the redirection logs redirection-host-*_access.log to be imported.

BR
Michael

[2022-05-19 01:36] xavier-hernandez commented on #50
I'll go ahead and look into this. I started a while back. I think I'd need to run 2 different goaccess processes for this.

[2022-05-19 01:36] xavier-hernandez commented on #46
I'll go ahead and look into this.

[2022-05-29 23:21] Reupireup commented on #46
I can generate manually with excluding my router ip with the command :
`/goaccess/goaccess -f /goaccess-config/access_archive.log --log-format='[%d:%t %^] %^ %^ %s - %m %^ %v "%U" [Client %h] [Length %b] [Gzip %^] [Sent-to %^] "%u" "%R"' --date-format='%d/%b/%Y' --date-spec=hr --time-format='%H:%M:%S' -a -e <MYIP> -o /opt/log/result.html`
alternatively /goaccess-config/goaccess.conf contains (line

[2022-05-30 20:04] #46 closed

[2022-05-30 20:05] #45 closed

[2022-05-30 20:05] xavier-hernandez commented on #5
@arsaboo exclude IP has now been exposed, please checkout the latest version

[2022-05-30 20:08] xavier-hernandez commented on #5
Closing this. I don't think allowing the mounting of the configuration is going to happen due to the need in supporting and fixing bugs. Allowing customer configurations will just add another layer to get through to support the container/image.

[2022-05-30 20:08] #5 closed

[2022-05-30 20:11] xavier-hernandez opened #56 "update goaccess to v1.6"

[2022-06-01 16:17] FoxxMD opened #57 "Support custom config file"
It's great that you've updated/built upon [GregYankovoy's image](https://github.com/GregYankovoy/docker-goaccess) but it does not look like the `goaccess.conf` file is user-overwritable which means anyone NOT using NPM is unable to use this.

I would suggest:

## Move geoip db

COPY the db into /var so its unlikely to be overwritten by mounting a volume (and update the default config to reflect th

[2022-06-01 18:49] FoxxMD commented on #57
I could fork and do it myself...was just hoping to keep efforts consolidated, especially for the unraid community apps (not wanting to add *another* goaccess template)

[2022-06-01 19:14] xavier-hernandez commented on #57
@FoxxMD let me take a look and see what I can do.

[2022-06-01 19:15] xavier-hernandez commented on #57
did you want the geoip db mountable as well?

[2022-06-01 20:33] xavier-hernandez commented on #57
I'm actually doing a bunch of changes to the code to support another instance of goaccess running in the container so let me do it. The other instance will parse the redirection logs from npm.

[2022-06-01 21:45] rtorchia commented on #56
latest version is 1.6, which states has a fix for 100% CPU usage, which some have complained about.

[2022-06-05 13:01] masterwishx commented on #38
Founded that i my case starting normal but after some hours its growing up for today and affter some time also for some days back ...

![image](https://user-images.githubusercontent.com/28630321/172051499-4a1340d9-16dc-41fc-b384-a9dbb009e52e.png)

![image](https://user-images.githubusercontent.com/28630321/172051613-102fa97a-d280-4b8a-aab7-77ec3df41685.png)

[2022-06-06 17:06] xavier-hernandez commented on #56
@rtorchia I've released a new version v1.0.9 this will have the latest GoAccess version

[2022-06-06 17:06] #56 closed

[2022-06-06 17:09] xavier-hernandez commented on #50
@niceborn I'll be working on this soon. I had to do some refactoring of the code to handle this.

[2022-06-06 17:10] xavier-hernandez commented on #38
@masterwishx I pushed a new version today v1.0.9 which contains the latest GoAccess v1.6 and a lot of code refactoring. Feel free to give it a try.

[2022-06-06 17:49] hs6666 opened #61 "error after update..."
Hi,

Since previous update, will not start up, get following error in log file....

/goan/start.sh: /goan/funcs/environment.sh: line 16: syntax error: unexpected redirection

Any ideas please?

Thanks

[2022-06-06 20:41] xavier-hernandez commented on #61
@hs6666 are you running the last build, v1.0.9? And on what OS?

[2022-06-06 20:59] hs6666 commented on #61
hi, yes it happened after the last update (todays update, same issue)

i'm running it on docker on latest debian

(Portainer is installed, which showed me the logs)

[2022-06-06 21:10] xavier-hernandez commented on #61
Debian 11?

I just ran it on that and received no error.

root@----:~# lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 11 (bullseye)
Release:        11
Codename:       bullseye

GOAN v1.0.9

NGINX BASIC AUTH
-------------------------------
None

LOADING ACTIVE PROXY LOGS
-------------------------------
Filename: /opt/log/proxy-host-4_access.log

[2022-06-06 21:15] xavier-hernandez commented on #61
@Just5KY thanks!

[2022-06-06 21:29] hs6666 commented on #61
hi, on x86 (docker running in a VM)
Distributor ID: Debian
Description:    Debian GNU/Linux 11 (bullseye)
Release:        11
Codename:       bullseye

tried restarting container, also attached log file showing error frequency

if i go into "inspect" in portainer get the following detailed output....

*******************************************************
{
    "AppArmorProfile": "",
    "Args": [

[2022-06-06 21:42] xavier-hernandez commented on #61
This line below is wrong. It should be bash. I double checked the Dockerfilein the repo and it says bash.

sh",
"/goan/start.sh"
],

[2022-06-06 21:42] rtorchia commented on #61
Just updated my docker container from Portainer with no issues. (Ubuntu LTS 22.04 server as VM under Proxmox). I just updated the stack I have, it stopped the container, and updated without issues.
Here is my stack in Portainer:

[code]

[2022-06-06 21:45] xavier-hernandez commented on #61
@hs6666 try to pull the latest. Maybe I had a bug a past build.

[2022-06-07 05:37] hs6666 commented on #61
I usually update via portainer, tried via console, got message that its already upto date

i normally update on every release, only happened on the last update before this latest one

Can i update manually "to bash" via any config update or better to totally removed the container, and recreate form scratch?

thanks

[2022-06-07 05:40] xavier-hernandez commented on #61
@hs6666 an easy thing would be to switch to the latest tag and you should get the new image. I think your using develop.

[2022-06-07 05:42] Just5KY commented on #61
use something like Watchtower or Pullio to pull and update your docker containers automatically and also prune old images
just make sure you read their documentation on how to set them up properly

[2022-06-07 05:54] hs6666 commented on #61
i prefer manual updates, so usually use portainer's "recreate" option whilst selecting the option to pull latest image... then manually delete the old image through portainer

I can't see a way inside portainer of renaming the image associated with a existing container from develop to latest.

I assume if i just run "docker pull xavierh/goaccess-for-nginxproxymanager:latest" from console I will ju

[2022-06-07 14:03] hs6666 commented on #61
oh ok, on my side, using portainer recreate, it gives a successfull message....

i initially created it with docker-compose and yaml file

I think I'll totally delete the container and this time fire it up within portainer

[2022-06-07 16:48] masterwishx commented on #38
Thanks ,i have auto update in unraid so i checked its also have this isshue , but i really cant understand where the problem becose
its start OK and after some time adding request for today nad goes back for some day ...
the author of goaccess told me to try without docker to check it but dont really know how to do it ....
i will try to enable debug and check it ...

[2022-06-07 16:58] masterwishx commented on #38
What i can check with debug ?
Thanks a lot for your work...

[2022-06-07 17:03] masterwishx commented on #38
did you fixed the problem ?

[2022-06-07 17:10] xavier-hernandez commented on #38
@masterwishx can you provide a screenshot of your unraid container setup? Also, I assume you only have one nginx proxy manager running and feeding the logs?

[2022-06-07 20:20] masterwishx commented on #38
I will post the screenshot, yes I have only one but moved logs to /mnt/user/Logs becose of old GregYankov container...  and have old logs in NPM  folder but can see by log of you container the only need files log are loaded...

[2022-06-07 20:23] xavier-hernandez commented on #38
@masterwishx also copy and paste or screenshot the new log information displayed. Maybe that would help.

[2022-06-07 22:00] masterwishx commented on #38
![image](https://user-images.githubusercontent.com/28630321/172489091-b31a8ad0-cac6-47bb-a8f6-d76c04936947.png)
![image](https://user-images.githubusercontent.com/28630321/172489315-00b4e5f6-a25a-4645-9a77-8e661a4e8e7a.png)

![image](https://user-images.githubusercontent.com/28630321/172489564-876cf610-dd29-4e72-8739-81b38c348c03.png)

As you can see its added a millions hit for 3 days only for no

[2022-06-07 22:44] xavier-hernandez commented on #38
@masterwishx yeah, it shouldn't read the proxy_logs.log or proxy_errors.log. And yes looks like from the output those files are not being read. I think we've talked about this in the thread but not sure if you actually did it. Can you disable it from reading the archived files, for a few days and see if you can reproduce the error?

[2022-06-08 07:02] masterwishx commented on #38
Yes ,we talked befor and i disabled the arhive logs but same isshue ...  what can i ckeck with debug enabled ?

[2022-06-11 03:37] whoshoe commented on #38
I am also having the same issue. The container has generated over 1 billion requests over 10K lines of log entries for one of my proxy host. Any updates to the issue?

[2022-06-12 03:01] xavier-hernandez commented on #38
I think in about a week I'll provide the ability to load your own configuration file. This should help you solve your issue by loading logs individually. I can't really do anything from my end to troubleshoot because I'm just setting up the config automatically. There isn't anywhere I can really debug.

[2022-06-12 16:08] masterwishx commented on #38
Thanks anyway i hope it will fix issue but cant understund where the problem , for now by loaded logs cant see there is problem on loaded logs exist ....

The author of goaccess said the best way to find the problem is to run the goaccess without docker and check if problem is exist but dont really know how to run it in unraid without docker ,
and lets say it will be OK but i still want to run it

[2022-06-12 21:24] xavier-hernandez commented on #38
@masterwishx the debug flag just currently provides the feedback in the logs and also provides the goaccess config has an HTML file for you to view. Other than there isn't much to produce from a debug sense.

And yeah there isn't a real way to run goaccess via a docker since its a command line tool.

[2022-06-20 21:24] tonyle8 commented on #38
Also have this issue on docker running ngixProxyManager. The GoAccess hit counter will not stop!

[2022-06-24 01:47] xavier-hernandez commented on #50
@niceborn this should be available in the next version. I've figured out the coding just need to implement it.

[2022-06-24 01:49] xavier-hernandez commented on #38
@masterwishx I'm not sure if I can read the lines in each log file and figure out if maybe a file is growing to large or maybe you'll be able to tell on your end which file might cause the problem. I'll look into it.

[2022-06-24 02:46] tonyle8 commented on #38
I narrowed it down to it NOT being the data. the issue only occurs when data is being actively written to proxy_host-*.log by ngix proxy manager and being read by goacess at the same time. some how this is causing a recursive loop within goacess

[2022-06-24 02:49] xavier-hernandez commented on #38
@tonyle8 were you able to confirm this via goaccess command line?

[2022-06-24 03:03] tonyle8 commented on #38
Nah, i simply STOPPED my docker container running ngix proxy manager after populating data in the log files and restarted goaccess so the files are not simultaneously accessed.

[2022-06-24 05:38] tonyle8 commented on #38
Ok good news! I was able to resolve it: It turns out I was correct in regards to the file access. This issue only happens when you are using [Bind mount](https://docs.docker.com/storage/bind-mounts/) (connecting directly to a host drive). Switching to named volumes works perfectly.

[2022-06-24 06:36] hs6666 commented on #61
yes, i gave up trying to get it to work....

[2022-06-24 12:24] xavier-hernandez commented on #38
@tonyle8 can you provide an example of what you changed? Also, are you using the docker container directly or through the unraid template?

[2022-06-24 13:55] tonyle8 commented on #38
See below for docker compose on portainer. My ngix app volume is set to the same "data" volume where saves the logs

  goaccess:
    image: xavierh/goaccess-for-nginxproxymanager:latest
    container_name: goaccess
    restart: always
    environment:
        - PUID=0
        - PGID=0
        - TZ=America/New_York
        - SKIP_ARCHIVED_LOGS=True #optional
        - DEBUG=False #optional

[2022-06-24 14:11] xavier-hernandez commented on #38
@tonyle8 - I'll add this to the README file as an option to try if you're getting this issue. Thanks!

[2022-06-24 15:23] tonyle8 commented on #38
@masterwishx
try my fix at the top and see if that works for you

[2022-06-24 16:18] masterwishx commented on #38
im using unraid ...
![image](https://user-images.githubusercontent.com/28630321/175576258-a97c7379-faa8-43c3-8dfe-61cbb002636f.png)

[2022-06-24 16:34] tonyle8 commented on #38
@masterwishx looks like you are using bind mount with unraid. Try switching to named volume if it supports it?

[2022-06-24 16:52] masterwishx commented on #38
OK Thanks

can we use it in unraid ?

[2022-06-24 18:01] xavier-hernandez commented on #38
@masterwishx so working off of @tonyle8 explanation/assumption can you try to change the access mode for the host path? Try changing it to Read Only - Slave. If that doesn't work then try Read Only - Shared.

![image](https://user-images.githubusercontent.com/6011223/175617128-7be765a4-07a5-4785-834d-6f882c8390d9.png)

[2022-06-24 18:53] Mission-Contro1 commented on #38
No dice with changing the access modes on the containers:
NPM Official: Read/Write - Slave
Goaccess for NPM: Read Only - Slave

Also doesn't work for shared mode. :(

[2022-06-24 21:25] masterwishx commented on #38
i have Read Only now i will try these ...

[2022-06-24 21:28] masterwishx commented on #38
if i remember correctly Read Only Slave its for Unassigned Devices but i have in /mnt/user/Logs/NginxProxyManager/
but will try anyway ...

Do you still having this issue in unraid ?

[2022-06-24 21:38] Mission-Contro1 commented on #38
I'm going to try and create a volume in docker/unraid and have NPM write the logs to the volume and GoAccess read the logs from it.

[2022-06-28 19:21] masterwishx commented on #38
Please write here if it works or not. Thanks

[2022-06-29 14:36] masterwishx commented on #38
i see , thanks for sharing this try

[2022-07-03 15:01] masterwishx commented on #38
@xavier-hernandez
Maybe the problem is becose container dont have bind mont config and using volume name mount only if problem can be fixed by name volume like tonyle8 said?!?

[2022-07-03 22:46] xavier-hernandez commented on #50
@niceborn the develop branch and image have been updated to support the redirection logs. If you'd like to test it out feel free.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

Please review the readme file. You need to pass the environment flag LOG_TYPE of NPM+R for a second instance to be created. The first instance of goaccess within the container will read the npm proxy logs and

[2022-07-03 22:48] xavier-hernandez commented on #57
@FoxxMD a custom config is now supported in the develop branch and image.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

Feel free to test. Please review the readme file for more information. You'll need to set an environment flag LOG_TYPE of custom and pass in a new volume that will contain the config file.

[2022-07-03 22:50] xavier-hernandez commented on #38
@masterwishx I don't believe that is how unraid works. Maybe I can create a temporary build where the logs will be copied into the container itself and see if that fixes the issue. We can try that at least.

[2022-07-04 08:10] masterwishx commented on #38
Sure, if you can, we can do it. Then container need to copy logs for some cron times? Or how?

Also wanted to check again the container yesterday , it's stopped for now.
And the problem is starts after some time (hours)
Also wanted to dedug with dev tools but don't have a lot of knowledge. If you can point where to look maybe? Also was some errors.. I can post here if it will help

[2022-07-04 19:01] niceborn commented on #50
@xavier-hernandez works like a charm. Also the readme is understandable. Thanks for the solution.

[2022-07-04 19:36] xavier-hernandez commented on #50
@niceborn that's great. Thanks for testing!

[2022-07-05 14:39] xavier-hernandez commented on #38
@masterwishx - do you leave the website open for hours or do you close it and come back?

Yes, some sort of cron job or sleep timer. This would be just for you so maybe just a sleep timer. If it works then maybe I can make it a cron job.

[2022-07-05 15:27] FoxxMD commented on #57
Thanks for the hard work!

I am not able to get it read my config file...

[code]

I've verified it should be at the very least readable by anyone
![image](https://user-images.githubusercontent.com/4663766/177362728-994671a4-f8f2-456d-8e3a-6099e10b1fa5.png)

I've tried to use `PUID` and `PGID` correctly (setting to nobody/users) as well as trying with root with no change. I have `DEBUG=True` but d

[2022-07-05 15:46] xavier-hernandez commented on #57
@FoxxMD it doesn't sound like a line-ending issue. It found the file. The bash script is checking if the file has read permissions.

if [[ -r ${goan_config} ]]; then
            echo -e "goaccess.conf readable"
        else
            echo -e "goaccess.conf not readable"
            exit
        fi

[2022-07-05 16:53] xavier-hernandez commented on #57
@FoxxMD  I just updated the develop image and code. Please pull the latest develop image.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

[2022-07-05 16:54] xavier-hernandez commented on #57
You should see something like this.

CUSTOM
-------------------------------
goaccess.conf file found

**************BEGIN DEBUG***********************
/opt/custom/goaccess.conf file permissions
644 root root

/opt/custom/goaccess.conf content
######################################
# Time Format Options (required)
######################################
#.....

[2022-07-05 17:16] FoxxMD commented on #57
@xavier-hernandez thanks for the quick and changes!

When using the correct user/group for my filesystem (nobody=99, users=100) `PUID=99 PGID=100`:

[code]

When using `PUID=0 PGID=0` (root/root) or I do not set them at all:

[code]

[2022-07-05 17:23] xavier-hernandez commented on #57
Are the file contents still listed?

[2022-07-05 17:27] FoxxMD commented on #57
Yes they are.

I may be missing it but I also don't see anywhere where you are using PUID/PGID in the dockerfile or startup scripts. Changing those is not something built into the alpine base image.

You could easily migrate to the [linuxserver.io base image](https://github.com/linuxserver/docker-baseimage-alpine) which would take care of that for you, though. I use it for the [base of one of my p

[2022-07-05 18:31] xavier-hernandez commented on #57
@FoxxMD - this "777 users UNKNOWN" is the permission for the file not for the PUID or PGUID. You are correct in that I'm setting the PUID and PGUID correctly but since I'm not writing anything to a mount this hasn't come up as an issue. Maybe the problem here is that bash script is running as a different user within docker. I'll look into it.

But for now if I remove the exit command from the cont

[2022-07-05 19:04] FoxxMD commented on #57
Getting much closer now with the new commit, thanks!

[code]

Web server is outputting `Custom instance processing: (might take some time...)` and nothing else. Been running for about 5 minutes now. CPU is idle. Nothing else in the docker logs.

[2022-07-05 19:33] xavier-hernandez commented on #57
@FoxxMD anything show up? How many logs file did you add to the config?

[2022-07-05 20:36] FoxxMD commented on #57
I went back and used the default config from the repo with only a few changes for my log format. The web server is still outputting `custom instance processing...` but the logs now have:

[code]
It looks like goaccess report is getting output to buffer?

[2022-07-05 21:22] xavier-hernandez commented on #57
@FoxxMD would it be possible for you to share your goaccess.conf file?

[2022-07-06 16:02] xavier-hernandez commented on #50
This has now been deployed to the main branch and latest tag.

[2022-07-06 16:02] #50 closed

[2022-07-06 16:03] #61 closed, assigned to xavier-hernandez

[2022-07-13 00:51] FedorAdo opened #69 "Information update"
Hello.
Is information only updated by restarting the container?

[2022-07-13 01:05] xavier-hernandez commented on #69
@FedorAdo if you mean new proxy files yes. Otherwise, the logs are continuously being read by the goaccess application in the container.

[2022-07-13 04:22] FedorAdo commented on #69
docker-compose:

Docker log:

As a result, after the launch - Last Updated: 2022-07-13 11:05:20 +0700 - and that's it, it doesn't change anymore until you stop and start the container again.

[2022-07-14 03:06] FedorAdo commented on #69
![npm-2022-07-14 100344](https://user-images.githubusercontent.com/30267668/178889156-6cd47e88-cfdf-4078-aa93-7943b70c883d.jpg)
The problem was this - websocket.  All earned. Thanks

[2022-07-14 03:14] xavier-hernandez commented on #69
oh ok, I didn't know you were proxying the container via npm. Yes, the webpage requires websockets support to update the page continuously.

[2022-07-14 03:15] xavier-hernandez commented on #69
I'll add this to the readme file. Can I close this thread?

[2022-07-14 03:19] FedorAdo commented on #69
Of course. Once again - thank you very much.

[2022-07-14 03:21] xavier-hernandez commented on #69
@FedorAdo I've updated the README file under Possible Issues with the information. Thanks!

[2022-07-14 03:21] #69 closed

[2022-07-22 21:46] benbkoch opened #71 "How long is a while to wait?"
I have NPM and goaccess in separate docker containers and am proxying to the gaaccess container. I have websockets enabled in NPM and I see my files being loaded in the logs. There are no errors in the logs, they just end in
[code]
I have waited a few hours but the webpage is still in an infinite refresh loop saying `Logs processing: 26 (might take some time depending on the number of files to par

[2022-07-22 21:58] xavier-hernandez commented on #71
Sorry, goaccess doesn't really provide a percentage of parsing so the webpage is just waiting for the actual index page to be created. What your seeing is just place holder.

Can you provide your docker compose file or the docker run commands your using?

Also, if you have DEBUG on you can append goaccess_conf.html to the URL so you can see the configuration that was created. You can review that f

[2022-07-22 22:34] benbkoch commented on #71
Thank you for the quick response! I do have DEBUG enabled. Here is my output.
[code]

And here is my docker-compose

[code]

[2022-07-31 21:50] xavier-hernandez commented on #71
sorry that I haven't gotten back to you, I'll look into it this week to figure something out

[2022-07-31 21:58] rtorchia commented on #71
I've have the same problem when first running the docker container after a system reboot, or I update the docker image. I do a a re-start via Portainer, and then it works as it should. No error messages in the log.

[2022-08-01 03:04] xavier-hernandez commented on #71
@benbkoch @rtorchia  I updated the develop image. Can try that image and let me know if its better? I changed the way I'm running the goaccess processes.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

[2022-08-03 00:24] rtorchia commented on #71
I just pulled the 1.1.3 update and tried it out. Worked the first time I ran the container!
Great work!

[2022-08-04 10:40] andyoulovexy opened #78 "custom can't work"
![image](https://user-images.githubusercontent.com/38940994/182827646-43800108-c616-4901-bf55-6c2da378d126.png)
![image](https://user-images.githubusercontent.com/38940994/182827710-95023607-e020-482d-94d8-f5bfcc18faaf.png)
![image](https://user-images.githubusercontent.com/38940994/182827809-94e5d35d-ab98-4f6d-8220-c61f4175ea0c.png)

[2022-08-04 20:28] xavier-hernandez commented on #78
@andyoulovexy that error usually means that it can't read the log files. Can you verify in the container by trying to access the mapped volume? Also, it doesn't look like you provided the entire configuration file. If you can provide the whole thing that would be great.

[2022-08-04 20:29] xavier-hernandez commented on #71
Considering this issue closed. Please re-open if this becomes a problem again. v1.1.3 is already in the latest.

[2022-08-04 20:29] #71 closed

[2022-08-16 18:27] CKranebitter opened #83 "Multiple Log Files in goaccess.conf"
Thanks for building this great tool. Appreciate it.
Sorry if its a dumb question. My log-directory consists of multiple files depending on the service e.g.:

1. vnstat-access.log
2. prometheus-access.log

Is it possible to wildcard the `log-file`-directive in the goaccess.conf-File?
I tried with asterisk but no luck.

[2022-08-17 01:52] xavier-hernandez commented on #83
@CKranebitter sorry no, as far as my understanding goes you need to explicitly list each file. Are all the files you have going to using one log type?

I'm happy to try and write something if I can.

[2022-08-17 07:11] CKranebitter commented on #83
Ah. Ok. Then I list them. No problem.
They are all standard Nginx. Guess its some sort of combined NCSA:

`10.0.0.2 - - [16/Aug/2022:19:57:07 +0200] "GET / HTTP/1.1" 200 989 "-" "Uptime-Kuma/1.17.1"`

[2022-08-17 15:26] xavier-hernandez commented on #83
@CKranebitter  if you want I can add a generic "NCSA Combined Log Format" log type that would do the *.log for you and read everything in the directory.

LOG_TYPE = NCSA_COMBINED

[2022-08-17 17:13] CKranebitter commented on #83
That would be really great.
Much appreciate it.

[2022-08-17 17:14] xavier-hernandez commented on #83
@CKranebitter would it be possible for you to supply some sample logs? Thanks.

[2022-08-17 17:15] CKranebitter commented on #83
Sure. How do you want it?

[2022-08-17 18:01] xavier-hernandez commented on #83
@CKranebitter you can use pastebin and just send a sample data set. Make sure to choose burn after read if it contains sensitive info.

[2022-08-17 18:13] CKranebitter commented on #83
There you go:
https://pastebin.com/bLpKTDu5
https://pastebin.com/Jmku47X5
https://pastebin.com/bPtGeH2f

[2022-08-17 18:14] CKranebitter commented on #83
kuma-access.log
radicale-access.log
snapit-access.log

[2022-08-17 18:16] xavier-hernandez commented on #83
@CKranebitter got it. I'll let you know when I have something.

[2022-08-17 18:22] CKranebitter commented on #83
Awesome. Thanks in advance.

[2022-08-18 01:49] xavier-hernandez commented on #83
@CKranebitter looks like kuma and snapit are NCSA Combined. Not sure what radicale yet is. Will let you know.

[2022-08-18 02:32] xavier-hernandez commented on #83
@CKranebitter I was wrong and was using the wrong format. I've updated the develop branch with the changes and the container. Make sure the log type is NCSA_COMBINED. You can look at the readme: https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/tree/develop. The code will add all files *.log.

docker pull xavierh/goaccess-for-nginxproxymanager:develop

Let me know how it works out

[2022-08-18 09:34] CKranebitter commented on #83
Thanks for this fast adjustement – Works great!
I had an issue on my side.
The directory I specify looks like this for my 3 services:

- -----/opt/log
- --------------kuma-access.log
- --------------kuma-error.log
- --------------snapit-access.log
- --------------snapit-error.log
- --------------radicale-access.log
- --------------radicale-error.log

So wildcarding *.logs also parses the error-log

[2022-08-18 16:40] xavier-hernandez commented on #83
@CKranebitter  I updated the container again with a new parameter LOG_FILES. Can you try that and see if it works for you?

- LOG_FILES="*access.log"

[2022-08-18 18:41] CKranebitter commented on #83
YES! This works.

Maybe you want to consider renaming the environmental-variable to something like `LOG_FILE_PATTERN` or something. `LOG_FILES`seems a bit generic. Just my 2 cents.
Nevertheless. Really big thanks for your time and dedication getting this to work.

[2022-08-18 18:49] xavier-hernandez commented on #83
@CKranebitter makes sense. I'll change it.

[2022-08-18 22:03] xavier-hernandez commented on #83
@CKranebitter the flag is now called LOG_TYPE_FILE_PATTERN to match the other pratemeter. You can pull again the develop or latest to get the most recent changes.

[2022-08-18 22:03] #83 closed

[2022-08-20 10:23] dramosbarajas opened #85 "Doesnt´t work with Nginx Proxy Manager"
Hello,

I have installed on a Raspberry pi4 the image with the LOG_TYPE=NPM for a reverse proxy service that I have running with the jc21/nginx-proxy-manager container and I have the following problem.

OFF
RUN NPM GOACCESS
 [SETTING UP STORAGE /opt/log/proxy-host-4_access.log] {0} @ {0/s}
Cleaning up resources...
==27== GoAccess - version 1.6.2 - Aug 18 2022 21:53:55
==27== Config file: /goaccess

[2022-08-20 11:16] Just5KY commented on #85
@dramosbarajas post the following
- docker-compose for Goaccess and NPM.
- a sample log file from NPM (you can hide the IPs)

I am also running on Pi4, mine runs normally, no errors.

[2022-08-20 11:41] dramosbarajas commented on #85
Hi @Just5KY

Add files.

[goaccess.txt](https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/files/9386995/goaccess.txt)
[NPM_access_log.txt](https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/files/9386996/NPM_access_log.txt)
[npm.txt](https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/files/9386997/npm.txt)

thanks!!

[2022-08-20 11:56] Just5KY commented on #85
@dramosbarajas which log file is this?

My `proxy-host-15_access.log` looks like this

[code]

`proxy-host-38_error.log` looks like this

[code]

- Can you confirm if your NPM is up-to-date?

[2022-08-20 12:02] Just5KY commented on #85
Your logs are in Apache Combined log format
https://www.sumologic.com/blog/apache-access-log/

Let's wait for @xavier-hernandez to take a look

[2022-08-20 12:06] dramosbarajas commented on #85
HI @Just5KY

My proxy-host-1_error.log  looks like this

2022/08/20 09:20:21 [warn] 309#309: *3 an upstream response is buffered to a temporary file /var/cache/nginx/proxy_temp/1/00/0000000001 while reading upstream, client: 88.29.xxx.xxx, server: web.filemon.duckdns.org, request: "GET /wp-content/uploads/2022/03/cat_ropa-1400x681.webp HTTP/2.0", upstream: "http://192.168.1.245:8100/wp-content/upl

[2022-08-20 14:42] xavier-hernandez commented on #85
@dramosbarajas, @Just5KY is right. Your log files do not seem to be out of the box NGINX PROXY MANAGER logs. Did you do any additional customizations?

I **_THINK_** this is the default
[$time_local] $upstream_cache_status $upstream_status $status - $request_method $scheme $host "$request_uri" [Client $remote_addr] [Real-ip $http_cf_connecting_ip] [Length $body_bytes_sent] [Gzip $gzip_ratio] [Sent

[2022-08-20 14:46] dramosbarajas commented on #85
Hi, I don't remember doing any additional customisation, as I have it in a development environment I'm going to install it from 0 and test it.

I will keep you posted.

Thanks for all @xavier-hernandez @Just5KY

[2022-08-20 14:49] xavier-hernandez commented on #85
@dramosbarajas, cool yeah keep us posted.

[2022-08-21 06:26] masterwishx commented on #38
I think the problem is solved ?!?
Tested for two days . befor not used for some time . will check it more ....

[2022-08-21 06:41] masterwishx opened #86 "Container stop on Fatal error when Autostart and need to be manually started ."
Thanks for cool container again.

on Autostart when Unraid server boot or start after Appdata Backup the container stop on Fatal error .
but if then manualy start it its OK.

after Added LOG_TYPE=NPM nothing changed .

![image](https://user-images.githubusercontent.com/28630321/185778632-ec31278a-0e2e-4c48-a8da-fa81c580c7c0.png)

[2022-08-21 11:25] masterwishx commented on #38
i meaned no more increasing requsets ,can someone also confirm ?

[2022-08-21 17:17] dramosbarajas commented on #85
Reinstalling NPM, everything works correctly.

Thanks for the support, I deeply regret not having tested this before opening the issue.

[2022-08-21 17:17] #85 closed

[2022-08-21 17:19] xavier-hernandez commented on #85
@dramosbarajas no problem. Glad everything is working.

[2022-08-21 22:12] stavros-k commented on #38
Yes I can confirm, it seem to run stable now.

[2022-08-22 02:12] Mission-Contro1 commented on #38
First impressions are good -- it appears to be working! I'll leave it running for a few days.

What did you change this time around?

[2022-08-22 02:17] xavier-hernandez commented on #38
@Mission-Contro1 if this question is for me, a lot has changed. GoAccess was upgraded twice I believe and the way the processes were running has also changed. I was never able to reproduce this issue on my end so I'm not totally sure what could have fixed it if it is stable now.

[2022-08-22 05:50] masterwishx commented on #38
if you read above, for some one helped named volume even befor this was fixed by author ....
also very interesting how was fixed but more important is working fine now, tested for 3 days and cheking more...

on unraid i have another problem , on autostart somehow  https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/issues/86
but after if start manually its OK

[2022-08-22 06:02] masterwishx commented on #86
just added "--restart=unless-stopped" to avoid the issue on autostart for now
if someone also having the issue in unraid please confirm

[2022-08-26 01:47] xavier-hernandez opened #87 "update readme file for unraid"

[2022-08-26 01:57] xavier-hernandez commented on #86
@masterwishx can you switch to the develop branch / container and see if this issue has been fixed ?

[2022-08-26 01:58] xavier-hernandez commented on #38
Marking this ticket as closed since 3 users have confirmed this is no longer an issue. Please re-open or open a new issue if this reoccurs. Thanks.

[2022-08-26 12:44] masterwishx commented on #86
@xavier-hernandez

OK i can, Thanks

[2022-08-26 13:06] masterwishx commented on #86
@xavier-hernandez
Confirm, NO Error on Develop version , also tryed after reboot ...

[2022-08-26 18:13] xavier-hernandez commented on #86
Pushed out the latest version to production.
[gh pr checkout 94](https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/pull/94)

[2022-08-26 18:13] #86 closed

[2022-09-03 02:01] bro0k opened #95 "Problem loading directory (check directory or permissions)..."
https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/blob/31ac02508a9f0ccbc4e96035d092065541f40fa5/resources/scripts/logs/npm.sh#L59

-x "${goan_log_path}" always returns false

I manually modified the file to comment out the conditions and it worked. What is the reason?

[2022-09-16 02:58] xavier-hernandez commented on #95
@bro0k sorry for the late response. The -x was to determine if the directory is searchable but its not needed because I'm checking for file access later down. I can remove it.

What type of system are you running this container on? This is the first time the error has come up.

Thanks.

[2022-09-17 09:45] bro0k commented on #95
System version
[code]

Docker version
[code]

[2022-09-19 12:34] calebpaine commented on #7
I'll check this later myself, but it should be fixable by adding `real_ip_header CF-Connecting-IP;` to the Advanced config of each proxy configured in NPM. This fixes my IP-based ACL issues within NPM, so I assume it also fixes the logging.

[2022-09-19 14:22] xavier-hernandez commented on #7
@calebpaine something like that should work. Modifications can be done on the NPM side to translate the IPs but not on my container end.

[2022-09-21 03:50] xavier-hernandez commented on #95
@bro0k I moved this to the latest version.

[2022-09-21 03:50] #95 closed

[2022-09-23 05:12] s1oz opened #99 "Chinese localization"
How can I achieve the same effect as in the [link?](https://github.com/allinurl/goaccess/issues/1043#issuecomment-372111348)
`-e LANG=zh_CN` or `-e LANG=zh_CN.UTF-8` or `-e LC_ALL=zh_CN.UTF-8` does not take effect, still cannot display Chinese

[2022-09-23 15:37] xavier-hernandez commented on #99
@s1oz I will look into this.

[2022-09-25 00:28] s1oz commented on #99
thank you for your reply @xavier-hernandez

[2022-09-27 03:28] xavier-hernandez commented on #99
@s1oz the develop version has been updated to support language localizations, docker pull xavierh/goaccess-for-nginxproxymanager:develop

Can you test it out?

[2022-09-27 03:43] s1oz commented on #99
@xavier-hernandez thank you very much for your help！

`-e LC_ALL=zh_CN.UTF-8`Chinese successfully displayed

[2022-09-28 01:37] #99 closed

[2022-09-28 07:49] masterwishx opened #103 "permision error on v1.1.8"
having error after last update, added puid,guid 99,100 or 0,0 not helped  :

![image png f1de26785a6074d69d4f943c3d9008f6](https://user-images.githubusercontent.com/28630321/192720303-930a4495-af73-4af5-b407-6628c30ff0d3.png)

[2022-09-28 08:15] kaasszje commented on #103
Having the same issue, downgraded to v1.1.7

[2022-09-28 08:18] Reupireup commented on #103
same here

[2022-09-28 13:07] xavier-hernandez commented on #103
@masterwishx @kaasszje @Reupireup I've fixed this issue. Please grab the latest again. Somehow during the merge process the execute flag was removed from start.sh. I'll modify the dockerfile so this doesn't happen again.

[2022-09-28 13:17] kaasszje commented on #103
Works again :) thank you for the fast fix :)

[2022-09-28 13:27] masterwishx commented on #103
@xavier-hernandez Thanks for fast fix , working fine

[2022-09-28 13:27] #103 closed

[2022-09-28 13:57] bonelifer opened #104 "Docker compose file"
Since `docker-compose` is now deprecated, the current format of compose file on the docker hub page is not compatible with native `docker compose`. The one below works.

[code]

[2022-09-30 13:47] crypticviper opened #105 "start.sh failed: Permission denied"
After the latest update, I see the below errors in my container logs. Watchtower updated the container on 28-09. I cannot tell for sure if this was caused by this update because nginxproxymanager was also updated today so could be that too?

`[FATAL tini (7)] exec /goan/start.sh failed: Permission denied`

I checked the permission for the user that I am using for goaccess stack and the user does s

[2022-09-30 13:58] xavier-hernandez commented on #105
@crypticviper sorry there was an error on my last update that removed the execution flag on start.sh. Try to do another pull and it should be fixed.

docker pull xavierh/goaccess-for-nginxproxymanager:latest

[2022-10-09 08:18] leon1995 opened #106 "No archived logs found at /opt/log"
Hi,

I get the error `No archived logs found at /opt/log`. I do noticed, that the logs are not contained in the container, because `$ docker-compose exec goaccess ls /opt/log` do not show me any log file. I have mapped the volume in my `docker-compose.yml` like this
[code]
On my host, there are plenty of files in `data/logs`

[2022-10-09 14:03] pvd-nerd opened #107 "Parsing Errors - Token '502,' doesn't match specifier '%s'"
Getting the following error when adding the container to an existing NPM deployment. Everything looks right on the compose file, here is the goaccess portion:

#########################################
  goaccess:
    image: xavierh/goaccess-for-nginxproxymanager:latest
    container_name: goaccess
    restart: always
    environment:
      TZ: America/New_York
      LOG_TYPE: NPM
    ports:

[2022-10-09 17:06] xavier-hernandez commented on #107
@pvd-nerd can you set SKIP_ARCHIVED_LOGS=True and see if it still runs across that error? If it doesn't then maybe one of the archives is corrupted or different.

[2022-10-09 17:08] xavier-hernandez commented on #106
@leon1995 are there any other errors shown? Can you send me a screenshot of the output when running the container?

Thanks.

[2022-10-09 17:35] leon1995 commented on #106
no, there arent any errors. here is the output with debug `True`:
[code]

and I can understand, there he cannot find any logs, because it seems that they arent copied to the docker container. But I dont know why, because I set up the directory mapping...

[2022-10-09 17:52] xavier-hernandez commented on #106
@leon1995 you are correct the logs are not copied into the container. Can you try referencing the entire directory rather than just ./data/logs ?

[2022-10-09 17:53] leon1995 commented on #106
What do you mean exactly?

[2022-10-09 17:53] xavier-hernandez commented on #106
/root/something/npm/data/logs

[2022-10-09 18:37] pvd-nerd commented on #107
@xavier-hernandez Changed to skip archived logs, looks like I'm getting the correct file now but still getting the error.

==25== FILE: /opt/log/proxy-host-10_access.log
==25== Parsed 3 lines producing the following errors:
==25==
==25== Token '502,' doesn't match specifier '%s'
==25== Token '502,' doesn't match specifier '%s'
==25== Token '502,' doesn't match specifier '%s'
==25== GoAccess - vers

[2022-10-09 18:42] leon1995 commented on #106
not working. I know that `./data/...` works, because I use it also on other services

[2022-10-09 18:44] leon1995 commented on #106
also it says that
[code]
but I have `DEBUG=True` set

[2022-10-09 19:13] xavier-hernandez commented on #107
@pvd-nerd yeah that log file doesn't seem to be in the right format. I'm not sure why it's putting in all those 502 errors. The sample logs I use, for example below, to test my image works for 502 and other HTTP error codes. You might want to open a ticket for NPM. Does the file have other lines like that or is it just a 1-time thing?

[27/Jun/2022:23:43:56 -0400] - 502 502 - GET https test.domain

[2022-10-09 19:16] xavier-hernandez commented on #106
can you provide your docker compose file so I can look that over?

[2022-10-09 19:20] leon1995 commented on #106
[code]

[2022-10-09 19:26] xavier-hernandez commented on #106
Looks right. So if you go to ./data/logs you see log files?

Maybe try adding this to goaccess but that shouldn't matter if the files are already there.

depends_on:
      - app

[2022-10-09 20:11] just5ky opened #108 "Support for Traefik log (JSON format)"
### GoAccess error log

[code]
### docker compose

[code]

### Traefik JSON log sample
[code]

[2022-10-09 20:40] xavier-hernandez commented on #108
@Just5KY I just looked at the documentation for TRAEFIK because it looks like for some reason I lost my sample files from my installation a way back. It looks like there is an option for JSON which I can only assume you have on if so I don't think that is going to work and I don't think a log format can be created for that.

 filePath: "/path/to/access.log"
  format: json

https://doc.traefik.io/t

[2022-10-09 21:09] Just5KY commented on #108
So I should change the log schema to default other than JSON?

[2022-10-09 21:25] xavier-hernandez commented on #108
My understanding from the support page and my experience is that just remove "format: json" and it should start logging in a common format.

[2022-10-09 21:36] Just5KY commented on #108
Yes, I understand that, but JSON logging is easier for ingesting logs in ELK and Graylog. That's why I wanted JSON support.

[2022-10-09 21:44] xavier-hernandez commented on #108
Can you give me a couple of days to look into this? Are you able to provide me a larger log file?

[2022-10-09 21:57] Just5KY commented on #108
Sure, let me hide IP and tokens. I will send it to you.

[2022-10-09 23:11] Just5KY commented on #108
I think I got most of the PIIs removed.

[access.log](https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager/files/9742740/access.log)

[2022-10-09 23:47] xavier-hernandez commented on #108
I grabbed it, and deleted your comment with the file just FYI.

[2022-10-12 08:15] leon1995 commented on #106
Yes there are 301 files in `./data/logs`...

I added the depends_on but it didnt work

[2022-11-27 11:18] taimadoCE opened #112 "All panels"
Hi, @xavier-hernandez Why don't you consider put all the panels available to permit to choose?

![imagen](https://user-images.githubusercontent.com/57089805/204132354-7b924f61-17de-403a-853f-b6545ddba1a2.png)

[2022-11-27 19:03] xavier-hernandez commented on #112
@taimadoCE all the panels are available, I think. Unless you see one missing. The additional one you found for TLS needs a setup before it displays.